* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #eef1f4;
  }

.admin-container {
    display: flex;
    height: 100vh;
  }
  
  .admin-left-section {
    flex: 1;
    background: linear-gradient(to right, purple, orange, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 20px;
  }
  
  
  
  .admin-right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .admin-form {
    padding: 40px;
    border-radius: 10px;
    width: 400px;
  }
  
  .admin-form h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    box-sizing: border-box;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  