.signup-container {
    display: flex;
    height: 100vh;
}

:root {
    --left-section-color: linear-gradient(to right, #6c5b7b, #c06c84, #f67280);
    --light-orange: #ffa500; 
    --light-blue: #87ceeb; 
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh; 
    width: 50vw;
    position: relative;
}
  
.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.btn-wrapper {
  margin-bottom: 10px; 
}

.right-section-corner {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}

.right-section-corner .btn {
    font-size: 1rem; 
    color: #221f20; 
    margin-right: 10px; 
}

.signup-form {
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.btn {
    border: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    border-radius: 20px;

}

.btn-google {
    background-color: #ffa500; 
    color: #fff;
    margin-right: 10px;
}

.btn-facebook {
    background-color: var(--light-blue); 
    color: #fff;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn-google:hover {
    background-color: #ff4500 !important; 
}

.btn-facebook:hover {
    background-color: #4169e1; 
}

.or-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-success {
    background: var(--left-section-color);
    color: #fff;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 20px;
}

.btn-success:hover {
    filter: brightness(0.9);
}

@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
        height: auto;
    }
  
    .left-section {
        padding: 40px 20px;
        width: 100%;
    }
  
    .right-section {
        padding: 20px;
    }
  
    .signup-form {
        max-width: 100%;
        margin: 0;
    }
  
    .social-login {
        flex-direction: column;
        align-items: center;
    }
  
    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .right-section-corner {
        top: 20px;
        right: 20px;
    }
}
